/* ------------------------
  Config panel for choosing decks
  ------------------------*/
.rtucards-config-actions .deck-list {
  margin: 5px;
  border: groove;
  max-height: 800px;
  overflow: scroll;
}

.rtucards-config-actions .deck-row {
  padding: 3px;
  line-height: 20px;
}

.rtucards-config-actions .deck-row.content {
  margin-left: 20px;
  border-left: solid darkgray;
  font-style: italic;
}

.rtucards-config-actions .deck-row.content.header {
  padding-top: 10px;
  font-style: unset;
  text-decoration: underline;
}

.rtucards-config-actions .deck-row.content.conf {
  padding-left: 10px;
}

.rtucards-config-actions .deck-row .toggle-button {
  flex: unset;
  padding-top: 2px;
  margin-right: 3px;
}

.rtucards-config-actions .deck-row .toggle-button.active:hover {
  cursor: pointer;
  text-shadow: 0 0 4px darkblue;
}
