<form>
    <p class="notification info">{{localize 'RTUCards.settings.config-shortcuts.title'}}</p>

    <button class="save-stacks">{{localize "RTUCards.settings.config-shortcuts.saveAndClose"}}</button>
</form>